.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 720px;
    height: 455px;
    background-color: purple;
}

/* img {
    width: 100%;
    height: 100%;
} */

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #ccc;
}

.news-hd {
    height: 31px;
    line-height: 31px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    font-size: 14px;
}

.news-hd h5 {
    float: left;
}

.news-hd .more {
    float: right;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd li {
    height: 24px;
    line-height: 24px;
    /* 文字超出用...显示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    border: 1px solid #ccc;
    border-top: 0;
    overflow: hidden;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bargain {
    margin-top: 5px;
}

/* 推荐模块start */
.recom {
    height: 163px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
   
}

.recom_hd h2 {
    margin: 9px 0;
    color: #fff;
    font-weight: 700;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 推荐模块end */

.box_hd {
    margin-top: 15px;
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    color: #c81623;
    font-size: 18px;
}

.box_hd .tab_list {
    float: right;
    line-height: 30px;
}

.box_hd .tab_list ul li {
    float: left;
}

.box_hd .tab_list ul li a {
    margin: 0 10px;
}

/* .box_hd .tab_list ul li a::after {
    padding: 0 0 0 10px;
    content: "|";
} */

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background: #f7f7f7;
    text-align: center;
}

.col_210 ul li {
    float: left;
    margin: 0 10px;
    width: 40%;
    border-bottom: 1px solid #e4e4e4;
    line-height: 26px;
}

.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_221 {
    width: 221px;
}
.col_219 {
    width: 219px;
}
