.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 720px;
    height: 455px;
    background-color: purple;
}

img {
    width: 100%;
    height: 100%;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #ccc;
}

.news-hd {
    height: 31px;
    line-height: 31px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    font-size: 14px;
}

.news-hd h5 {
    float: left;
}

.news-hd .more {
    float: right;
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd li {
    height: 24px;
    line-height: 24px;
    /* 文字超出用...显示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    border: 1px solid #ccc;
    border-top: 0;
    overflow: hidden;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bargain {
    margin-top: 5px;
}